<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="inputs" type="Serialcoder.VisualLogParser.Runtime.Configuration.InputsConfigurationSectionHandler, VisualLogParser" />
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Serialcoder.VisualLogParser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Serialcoder.VisualLogParser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  
    <userSettings>
        <Serialcoder.VisualLogParser.Properties.Settings>
            <setting name="InputName" serializeAs="String">
                <value>EVT</value>
            </setting>
            <setting name="ShowFullPathInTitle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Output" serializeAs="String">
                <value />
            </setting>
            <setting name="Query" serializeAs="String">
                <value />
            </setting>
            <setting name="AppSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="EditorFont" serializeAs="String">
                <value>Consolas, 8.25pt</value>
            </setting>
            <setting name="EditorBackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="EditorForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ShowQueryHelp" serializeAs="String">
                <value>True</value>
            </setting>
        </Serialcoder.VisualLogParser.Properties.Settings>
       
    </userSettings>

  <inputs>
    <input name="ADS" label="Active Directory" progId="MSUtil.LogQuery.ADSInputFormat" type="COMADSInputContextClassClass" />
    <input name="BIN" label="IIS Bin" progId="MSUtil.LogQuery.IISBINInputFormat" type="COMIISBINInputContextClassClass" />
    <input name="CSV" label="CSV" progId="MSUtil.LogQuery.CSVInputFormat" type="COMCSVInputContextClassClass" />
    <input name="ETW" label="" progId="MSUtil.LogQuery.ETWInputFormat" type="COMETWInputContextClassClass" />
    <input name="EVT" label="EVT" progId="MSUtil.LogQuery.EventLogInputFormat" type="COMEventLogInputContextClassClass"></input>
    <input name="FS" label="FS" progId="MSUtil.LogQuery.FileSystemInputFormat" type="COMFileSystemInputContextClassClass" />
    <input name="HTTPERR" label="" progId="MSUtil.LogQuery.HttpErrorInputFormat" type="COMHttpErrorInputContextClassClass" />
    <input name="IIS" label="" progId="MSUtil.LogQuery.IISIISInputFormat" type="COMIISIISInputContextClassClass" />
    <input name="IISODBC" label="" progId="MSUtil.LogQuery.IISODBCInputFormat" type="COMIISODBCInputContextClassClass" />
    <input name="IISW3C" label="" progId="MSUtil.LogQuery.IISW3CInputFormat" type="COMIISW3CInputContextClassClass" />
    <input name="NCSA" label="" progId="MSUtil.LogQuery.IISNCSAInputFormat" type="COMIISNCSAInputContextClassClass" />
    <input name="NETMON" label="" progId="MSUtil.LogQuery.NetMonInputFormat" type="COMNetMonInputContextClassClass" />
    <input name="REG" label="" progId="MSUtil.LogQuery.RegistryInputFormat" type="COMRegistryInputContextClassClass" />
    <input name="TEXTLINE" label="" progId="MSUtil.LogQuery.TextLineInputFormat" type="COMTextLineInputContextClassClass" />
    <input name="TEXTWORD" label="" progId="MSUtil.LogQuery.TextWordInputFormat" type="COMTextWordInputContextClassClass" />
    <input name="TSV" label="" progId="MSUtil.LogQuery.TSVInputFormat" type="COMTSVInputContextClassClass" />
    <input name="URLSCAN" label="" progId="MSUtil.LogQuery.URLScanLogInputFormat" type="COMURLScanLogInputContextClassClass" />
    <input name="W3C" label="" progId="MSUtil.LogQuery.W3CInputFormat" type="COMW3CInputContextClassClass" />
    <input name="XML" label="" progId="MSUtil.LogQuery.XMLInputFormat" type="COMXMLInputContextClassClass" />
  </inputs>
  <applicationSettings>
    <Serialcoder.VisualLogParser.Properties.Settings>
      <setting name="ApplicationName" serializeAs="String">
        <value>Visual Log Parser</value>
      </setting>
    </Serialcoder.VisualLogParser.Properties.Settings>
  </applicationSettings>
</configuration>